In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('LogReg.csv')

In [4]:
df.head()

   Sr.  Donation  Income  Age  Membership
0    1         0    83.4   53           1
1    2         0    84.3   53           1
2    3         0    87.2   50           1
3    4         0    86.6   52           1
4    5         0    92.0   45           1

In [5]:
target = df['Donation']

In [6]:
target.head()

0    0
1    0
2    0
3    0
4    0
Name: Donation, dtype: int64

In [7]:
features = df.drop(['Donation',axis=1])

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (3884278516.py, line 1)

In [ ]:
features.head()

In [15]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()

In [ ]:
model.fit(features, target)

In [ ]:
pred = model.predict(features)

In [ ]:
from sk confusion